parameters:
	ignoreErrors:
		-
			message: '#^Call to function method_exists\(\) with PhpParser\\ParserFactory and ''create'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: src/Compiler/ParserLoader.php

		-
			message: '#^Method Firehed\\Container\\Compiler\\ParserLoader\:\:getParser\(\) should return PhpParser\\Parser but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: src/Compiler/ParserLoader.php

