parameters:
	ignoreErrors:
		-
			message: "#^Constructor of class Firehed\\\\Container\\\\Compiler\\\\ProxyValue has an unused parameter \\$interfaceName\\.$#"
			count: 1
			path: src/Compiler/ProxyValue.php

